@font-face {
    font-family: 'Helios';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Helios Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Proxima Nova Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Proxima Nova Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Racama';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/racama.otf') format('opentype');
}

html {
    /* База 4K: 20px (1rem = 20px) */
    font-size: 20px;
    font-family: "Helios", sans-serif;
    font-weight: 400;
    color: #fff;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/second-screen-bg.jpg");
    height: 100vh;
}

@media (max-width: 1920px) {
    html {
        /* База Full HD: 10px (1rem = 10px) */
        font-size: 10px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box; /* Важно для правильного расчета размеров */
    font-family: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.btn {
    font-family: 'Proxima Nova', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
    border-radius: 1.5rem; /* 30px / 20 = 1.5 */
    max-width: max-content;
}

.btn:hover {
    transition: 0.5s ease;
}

.display-none {
    display: none !important;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: opacity 1s ease, visibility 1s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

/* Класс активного экрана */
.screen.is-active {
    opacity: 1;
    visibility: visible;
}

.first-screen {
    /* 158px / 20 = 7.9rem | 279px / 20 = 13.95rem */
    padding: 7.9rem 0 13.95rem 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/first-screen-bg.jpg");
}

.first-screen__title {
    font-size: 7.5rem; /* 150px / 20 = 7.5 */
    line-height: 100%;
    font-weight: 400;
    text-align: center;
    font-family: 'Racama', sans-serif;
}

.btn--blurred {
    font-weight: 600;
    font-size: 5.5rem; /* 110px / 20 = 5.5 */
    line-height: 55%;
    text-align: center;
    color: #fff;
    border-radius: 12.5rem; /* 250px / 20 = 12.5 */
    padding: 5rem 6.5rem; /* 100px / 20 = 5 | 130px / 20 = 6.5 */
    backdrop-filter: blur(2.5rem); /* 50px / 20 = 2.5 */
    background: linear-gradient(46deg, rgba(224, 239, 234, 0.4) 0.48%, rgba(193, 223, 214, 0.2) 56.25%, rgba(255, 255, 255, 0.5) 100%);
}

.first-screen__btn {
    padding: 5rem 7.5rem; /* 100px / 20 = 5 | 150px / 20 = 7.5 */
    margin-bottom: 5rem; /* 100px / 20 = 5 */
    margin-top: auto;
}

.first-screen__desc {
    font-size: 3.5rem; /* 70px / 20 = 3.5 */
    line-height: 120%;
    text-align: center;
    max-width: 76.4rem; /* 1528px / 20 = 76.4 */
}


.second-screen {
    transition: opacity 0.5s ease;
    padding: 10rem 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/second-screen-bg.jpg");
    justify-content: space-between;
}

.second-screen__title {
    font-weight: 400;
    font-size: 12.25rem;
    line-height: 104%;
    text-align: center;
    font-family: 'Racama', sans-serif;
}

.second-screen__btns {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

.second-screen__btn {
    opacity: 0;
    transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 1.5s ease;
    border-radius: 5rem;
}

.second-screen__desc {
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 111%;
}

.slider-screen {
    padding: 5rem;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/main-bg.jpg");
    justify-content: space-between;
}

.slider-screen__content {

}

.slider-screen__img-wrapper {

}

.slider-screen__text {
    border-radius: 3.5rem; /* 70px / 20 */
    padding: 4rem; /* 80px / 20 */
    background: linear-gradient(30deg, #fff 0%, #c2e1c7 100%);
    font-weight: 400;
    font-size: 3.2rem; /* 64px / 20 */
    line-height: 156%;
    letter-spacing: -0.02em;
    color: #161617;
}

.slider-screen__footer {
    display: flex;
    gap: 2rem; /* 40px / 20 */
    align-items: center;
    margin-top: auto;
    width: 100%;
}

.footer__title {
    font-weight: 400;
    font-size: 4.5rem; /* 90px / 20 */
    line-height: 111%;
    font-family: 'Racama', sans-serif;
}

.footer__line {
    width: 100%;
    flex: 1;
    height: 0.25rem; /* 5px / 20 */
    background: #fff;
}

.footer__slides-amount {
    font-weight: 400;
    font-size: 4.5rem; /* 90px / 20 */
    line-height: 111%;
    font-family: 'Racama', sans-serif;
}

.slider-screen__btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider-screen__menu-btn {
    border-radius: 4rem; /* 80px / 20 */
    padding: 4.5rem 6rem; /* 90px / 20 = 4.5 | 120px / 20 = 6 */
    font-weight: 600;
    font-size: 3.75rem; /* 75px / 20 */
}

.navigation-controls {
    display: flex;
    gap: 1.5rem; /* 30px / 20 */
}

.slider-screen .swiper-button-next,
.slider-screen .swiper-button-prev {
    position: static;
    width: 11.5rem; /* 230px / 20 */
    min-width: 11.5rem;
    height: 11.5rem; /* 230px / 20 */
    border-radius: 4rem; /* 80px / 20 */
    padding: 0;
    color: unset;
    margin-top: unset;

    background: linear-gradient(180deg, rgba(224, 239, 234, 0.2) 0.48%, rgba(255, 255, 255, 0.5) 100%);
    backdrop-filter: blur(2.5rem); /* 50px / 20 */
}

/* Очистка дефолтных иконок Swiper, если используете свои SVG */
.slider-screen .swiper-button-next::after,
.slider-screen .swiper-button-prev::after {
    display: none;
}

.slider-screen .swiper-button-next svg,
.slider-screen .swiper-button-prev svg {
    height: 2.6rem; /* 52px / 20 */
    width: 4.2rem; /* 84px / 20 */
}

.slider-screen .swiper-button-next.swiper-button-disabled,
.slider-screen .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

.slider-screen .swiper-button-next::after,
.slider-screen .swiper-button-prev::after {
    display: none;
}

.slider-screen .swiper-pagination {
    position: static;
    display: flex;
    gap: 1.5rem; /* 30px / 20 */
    margin-top: 3rem; /* 60px / 20 */
    margin-bottom: 3rem; /* 60px / 20 */
}

.slider-screen .swiper-pagination .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.4);
    height: 1.25rem; /* 25px / 20 */
    border-radius: 1rem; /* 20px / 20 */
    width: 100%;
    position: relative;
    overflow: hidden;
    opacity: 1;
}

.slider-screen .swiper-pagination .swiper-pagination-bullet::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: rgba(255, 255, 255, 1);
    border-radius: 1rem; /* 20px / 20 */
}

/* Анимация при активации буллета */
.slider-screen .swiper-pagination .swiper-pagination-bullet-active::after {
    animation: fillProgress 0.2s linear forwards;
}

@keyframes fillProgress {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.swiper-container .swiper-wrapper {
    height: 145.2rem; /* 2904px / 20 */
}

#slider-screen {
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.swiper-wrapper {
    overflow: visible; /* ВАЖНО */
}

.swiper,
.swiper-slide {
    width: 100%;
}

.swiper-slide {
    padding: 5rem 5rem 0 5rem; /* 100px / 20 */
    display: flex !important;
    flex-direction: column !important;
    gap: 3rem !important; /* 60px / 20 */
}

.swiper-pagination {
    padding: 0 5rem; /* 100px / 20 */
}

.slider-screen__btns {
    padding: 0 5rem; /* 100px / 20 */
}

.slider-screen__footer {
    padding: 0 5rem 5rem 5rem; /* 100px / 20 */
}

/* Анимации вылета (Transform) */
.second-screen__btn:nth-child(odd) {
    transform: translateX(-17.5rem); /* 350px / 20 */
}

.second-screen__btn:nth-child(even) {
    transform: translateX(17.5rem); /* 350px / 20 */
}

.second-screen.is-active .second-screen__btn {
    opacity: 1;
    transform: translateX(0);
}

.second-screen.is-leaving .second-screen__btn:nth-child(odd) {
    transform: translateX(-17.5rem);
    opacity: 0;
}

.second-screen.is-leaving .second-screen__btn:nth-child(even) {
    transform: translateX(17.5rem);
    opacity: 0;
}

/* Блоки заголовков */
.title-block {
    border-radius: 3.5rem; /* 70px / 20 */
    padding: 4rem; /* 80px / 20 */
    background: linear-gradient(30deg, #fff 0%, #c2e1c7 100%);
}

.title-block__text {
    border-radius: 3.5rem; /* 70px / 20 */
    padding: 3.5rem; /* 70px / 20 */
    background: linear-gradient(135deg, rgba(0, 125, 50, 0.15) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(0, 125, 50, 0.15) 100%);
    font-weight: 400;
    font-size: 4.5rem; /* 90px / 20 */
    color: #007d32;
    font-family: 'Racama', sans-serif;
    line-height: 3.15rem; /* 63px / 20 */

    display: flex;
    flex-direction: column;
}

.title-block__year-value {
    font-weight: 400;
    font-size: 3.75rem; /* 75px / 20 */
    line-height: 4.5rem; /* 90px / 20 */
    color: #161617;
    margin-top: 1.5rem; /* 30px / 20 */
    font-family: "Helios", sans-serif;
}

.title-block__additional-text {
    font-weight: 400;
    font-size: 3.75rem; /* 75px / 20 */
    line-height: 4.5rem; /* 90px / 20 */
    letter-spacing: -0.02em;
    color: #161617;
    margin-top: 4rem; /* 80px / 20 */
    font-family: "Helios", sans-serif;
}

.second-screen__btn:nth-child(1) {
    transition-delay: 0.15s;
}


.second-screen__btn:nth-child(2) {
    transition-delay: 0.25s;
}

.second-screen__btn:nth-child(3) {
    transition-delay: 0.35s;
}

.second-screen__btn:nth-child(4) {
    transition-delay: 0.45s;
}

.second-screen__btn:nth-child(5) {
    transition-delay: 0.55s;
}

.title-block__year-value--nova-font {
    font-family: 'Proxima Nova', sans-serif;
    line-height: 4rem;
}

.title-block--custom + .slider-screen__text {
    line-height: 140%;
}

.slider-screen__img-wrapper img {
    max-width: 100%;
}